#tower2{
  background-image: url(powerRangers.png), linear-gradient(to bottom right, #0000ff , black);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: grey;
}

#tower1{
  background: linear-gradient(to bottom right, black , #eeeeee);
}

#tower3{
  background: linear-gradient(to bottom right, white , black);
}

.pieceContainer{
  width: 90%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.tower{
  background-size: contain;
  background-repeat: no-repeat;
  height: 85vh;
  min-height: 450px;
  margin: 0 auto;
}

.piece {
  /*border: 2px solid  white;*/
  height: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: space;
  margin: 0 auto;
  border-radius: 30px;
}

#piece1{
  background-image: radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.7) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./redRanger.jpg");
  background-image: -moz-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.7) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./redRanger.jpg");
  background-image: -webkit-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.7) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./redRanger.jpg");
  width: 100%;
  background-color: #c7121b;
}

#piece2{
  background-image: radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./pinkRanger.jpg");
  background-image: -moz-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./pinkRanger.jpg");
  background-image: -webkit-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./pinkRanger.jpg");
  width: 85%;
  background-color: #ec5b9e;
}
#piece3{
  background-image: radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./yellowRanger.jpg");
  background-image: -moz-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./yellowRanger.jpg");
  background-image: -webkit-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./yellowRanger.jpg");
  width: 60%;
  background-color: #fff500;
}

#piece4{
  background-image: radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./blackRanger.jpg");
  background-image: -moz-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./blackRanger.jpg");
  background-image: -webkit-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./blackRanger.jpg");
  width: 45%;
  background-color: black;
}
#piece5{
  background-image: radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./blueRanger.jpg");
  background-image: -moz-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./blueRanger.jpg");
  background-image: -webkit-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./blueRanger.jpg");
  width: 30%;
  background-color: #0049a2;
}

#piece6 {
  background-image: radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./greenRanger.jpg");
  background-image: -moz-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./greenRanger.jpg");
  background-image: -webkit-radial-gradient(ellipse at 35% 20px, rgba(255,255,255,.8) 0%,  rgba(255,255,255,.5) 15%,rgba(255,255,255,.3) 45%, rgba(0,0,0,.2)), url("./greenRanger.jpg");
  width: 15%;
  background-color: #35a22f;
}
